@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #456573; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(69, 101, 115,1)'/%3E%3Cpath d='M-20 31l20-20l20 20l20-20l20 20l20-20l20 20v-2l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20-9l20-20l20 20l20-20l20 20l20-20l20 20v-2l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 71l20-20l20 20l20-20l20 20l20-20l20 20v-2l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20z ' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M20.5 0l20 20l-20 20l20 20l-20 20l20 20l-20 20h-1l20-20l-20-20l20-20l-20-20l20-20l-20-20zM-19.5 0l20 20l-20 20l20 20l-20 20l20 20l-20 20h-1l20-20l-20-20l20-20l-20-20l20-20l-20-20zM60.5 0l20 20l-20 20l20 20l-20 20l20 20l-20 20h-1l20-20l-20-20l20-20l-20-20l20-20l-20-20z ' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  backdrop-filter: blur(8px);
  height: 100vh;
}

.nav-button {
  @apply p-4 font-mono transition-all ease-in-out duration-700 text-white hover:bg-[#62929E] hover:font-bold active:scale-125;
}

::placeholder {
  @apply font-mono
}

.swiper-button-next {
  color: #62929E!important;
  display: none;
}

.swiper-button-prev {
  color: #62929E !important;
  display: none;
  
}
.swiper-button-prev:hover {
  display: block;
}
.swiper-button-prev:hover {
  display: block;
}